html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden auto;
  box-sizing: border-box;
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #000;
}
  
::selection {
    color: #fff;
    background: #000;
}

#__next {
  height: 100%;
}

@font-face {
  font-family: 'c64';
  src: url(/fonts/c64/c64_pro-style.ttf);
}
@font-face {
    font-family: 'monospace_';
    src: url(/fonts/monospace/nk57-monospace-cd-rg.ttf);
}
@font-face {
    font-family: 'typewriter';
    src: url(/fonts/monospace/monospace-typewriter.ttf);
}



.base {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  background: linear-gradient(270deg, #e5f888 0%, #ae6302 100%);

  &__video-blend-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000;
    mix-blend-mode: color;
    /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNc28S0CQAE+gHlG1RA1AAAAABJRU5ErkJggg==); */
    z-index: 200;
  }

  &__video-bg {
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 100;
      object-fit: cover;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  }

  &__page {
      width: 100%;
      min-height: 100%;
      padding-bottom: 100px;
      /* background-color: #ad8202; */
      z-index: 20000;
  }

  &__branding {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;

      h1 {
        font-family: 'c64';
        font-size: 24px;
        letter-spacing: 0.09em;
        color: #FFFAEB;
        padding: 0;
        margin: 33px 0 0 0;
        font-weight: 100;
        transform: translateX(5px);
        text-shadow: 2px 2px rgb(0 0 0 / 20%);
      }

      &-logo {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 120px;
          height: 120px;
          background-color: #FFFAEB;
          border-radius: 50%;
          margin: 60px 0 0 0;
          box-shadow: 4px 4px 2px rgb(0 0 0 / 20%);
      }

      &-logo-slider {
          position: relative;
          background-color: #ccc;
          height: 90px;
          width: 4px;
          margin: 8px auto;
      }

      &-logo-slider-handle {
          position: absolute;
          left: 0;
          top: 0;
          background-color: #FFBF00;
          height: 14px;
          width: 44px;
          transform: translateX(-20px);
          cursor: move;
          user-select: none;
          border-radius: 3px;
      }
  }

  &__content {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin: 0 0 40px 0;
      padding-bottom: 60px;

      @media (max-width: '1200px') {
        flex-direction: column;
      }
  }

  &__bread {
      width: 70%;
      height: 100%;
      padding: 0 30px 0 60px;
      order: 0;
      box-sizing: border-box;

      @media (max-width: '1200px') {
        width: 100%;
        height: auto;
        order: 1;
      }
  }

  &__meta {
      position: relative;
      width: 30%;
      height: 100%;
      padding: 0 30px 0 0;
      order: 1;
      box-sizing: border-box;

      @media (max-width: '1200px') {
        display: flex;
        flex: 0 0 100%;
        padding: 0;
        width: 100%;
        order: 0;
      }
  }

  &__nav {
      display: flex;
      flex-direction: row;
      margin: 40px 0 70px 0;
      justify-content: end;
      list-style: none;

      li {
          margin: 0 30px 0 0;

          a {
              font-size: 18px;
              font-weight: 400;
              text-transform: uppercase;
              padding-bottom: 1px;
              font-family: "typewriter";
              color: #FFFAEB;
              text-decoration: none;
              letter-spacing: 0.02em;

              &.current-path {
                  border-bottom: 2px solid #FFFAEB;
              }
          }
      }
  }

  &__cta {
      font-family: verdana;
      font-weight: 400;
      font-size: 18px;
      border: none;
      border-radius: 7px;
      background-color: #666;
      color: #fff;
      margin: 20px 0 0 0;
      padding: 10px 20px;
      min-width: 100px;
      text-align: center;
      cursor: pointer;
  }

  &__branding-color-picker {
    display: flex;
    flex-direction: row;
    margin: 42px 0 0 0;
  }

  &__branding-color-picker-dot {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: #666;
    margin: 0 12px;
    cursor: pointer;

    &.selected:after {
        content: '';
        position: absolute;
        left: 11px;
        bottom: -19px;
        width: 9px;
        height: 9px;
        border-radius: 6px;
        background-color: #fff;
    }
  }

  &__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 700;
    padding: 7px 16px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNsqC3pBAAE8gH8svJhZwAAAABJRU5ErkJggg==);
    z-index: 10000000;
    box-sizing: border-box;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            padding: 3px 10px;
            border-radius: 10px;
            background-color: #666;
            margin: 0 0 0 16px;

            a {
                font-family: "c64";
                font-size: 14px;
                text-decoration: none;
                color: #fff;
            }
        }
    }
  }
}

.article {

    &__wrap {
        position: relative;
        padding: 35px 30px 15px 65px;
        background: #fff;

        p {
            font-family: "monospace_";
            letter-spacing: 0.046em;
            font-size: 20px;
            margin: 0 0 17px 0;
            max-width: 840px;
            color: #403A24;
            line-height: 1.5em; 

            a {
                font-family: 'typewriter';
                font-weight: 400;
                color: #9D00FF;
                text-decoration: none;
            }
        }
    }

    &__post {
        margin: 0 0 22px 0;
        background-color: #FFFAEB;
        box-shadow: 2px 2px 2px rgb(0 0 0 / 12%);
        min-height: 80px;
    }

    &__post-user {
        position: absolute;
        width: 77px;
        height: 77px;
        left: -32px;
        top: 22px;
        border-radius: 40px;
        background-color: #ddd;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__post-jobs {
        position: absolute;
        width: 52px;
        height: 52px;
        left: -23px;
        top: 22px;
        border-radius: 40px;
        background-color: #ddd;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__pop-link {
        position: relative;
        color: #9D00FF;
        font-family: 'typewriter';
        font-weight: 400;
        text-decoration: none;
        padding-bottom: 2px;
        padding-right: 37px;

        &:after {
            content: "";
            position: absolute;
            width: 32px;
            height: 32px;
            right: 0;
            top: -2px;
            background-image: url(/icons/icons8-open-64.png);
            background-size: 100% auto;
        }
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 720px;
    height: 440px;
    background-color: #fff;
    border-left: 22px solid #807D74;
    padding: 30px;
    z-index: 200;

    &__bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background-image: url(/images/pixled-brown3.gif); */
        z-index: 100;
        opacity: 0.86;
        background-color: #161817;
    }
         
    &__job {
        box-shadow: 1px 1px 100px #333;
    }
         
    &__job-title {
        margin: 0;
        padding: 0;
        color: #403A24;
        font-family: "monospace_";
        font-size: 26px;
    }

    &__job-subtitle {
        margin: 0;
        padding: 0;
        color: #403A24;
        font-family: "monospace_";
        font-size: 18px;
    }
     
    &__job-main {
        display: flex;
        flex-direction: row;
    }
     
    &__job-desc {
        flex: 4;
        padding-right: 44px;

        p {
            line-height: 1.5em;
            color: #403A24;
            font-family: "monospace_";
            font-size: 18px;
            font-weight: 400;
        }
    }

    &__job-techlist {
        flex: 2;

        ul {
            list-style: none;
            padding: 0;

            li {
                font-family: "monospace_";
                margin: 0 0 7px 0;
                line-height: 1.4em;
                letter-spacing: 0.08em;
            }
        }
    }

    &__job-links {
        flex: 2;

        ul {
            list-style: none;
            padding: 0;

            li {
                margin: 0 0 6px 0;
                
                a {
                    color: #9D00FF;
                    text-decoration: none;
                    font-family: "monospace_";
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                }
            }
        }
    }
}

.jobs-page {

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin: 0 0 23px 0;

            a {
                font-family: "c64";
                letter-spacing: 0.046em;
                font-size: 20px;
                color: #574F33;
                text-decoration: none;
                padding: 4px 0;

                &:hover {
                    border-bottom: 3px solid #574F33;
                }
            }
        }
    }

    &__back {
        padding: 10px 0 16px 0;

        a {
            font-family: "c64";
            letter-spacing: 0.046em;
            font-size: 20px;
            margin: 0 0 17px 0;
            text-decoration: none;
            color: #fff;
        }
    }
}
